<header>

  <div class="logo-area">
    <a href="index.html" class="logo-img">
      <img src="logo.png" alt="Fleury Radio Group Logo">
    </a>

    <h1 class="logo-text">
      <a href="index.html">Fleury Radio Group</a>
    </h1>
  </div>

  <p>Dini Musik, dini Wälle – direkt vom Rhy.</p>

  <button id="hamburgerBtn" class="hamburger" aria-label="Menü öffnen">☰</button>

 <nav id="mainNav" class="nav-links">

  <a href="index.html">Home</a>

  <<div class="nav-item nav-dropdown">

  <div class="nav-link-row">
    <a href="radios.html" class="nav-main-link">Radios</a>

    <button class="dropdown-toggle" aria-label="Radios öffnen">
      <span class="arrow">▼</span>
    </button>
  </div>

  <div class="dropdown-menu">
    <a href="rhywaelle.html">Radio Rhywälle</a>
    <a href="winterlord.html">Winterlord FM</a>
    <a href="rhyrock.html">RhyRock Radio</a>
  </div>

</div>

  <a href="spezial-programm.html">Spezial-Programm</a>
  <a href="about.html">Über uns</a>
  <a href="frg-inside.html">FRG Inside</a>
  <a href="mitmachen.html">Mitmachen</a>

</nav>
</header>

<div id="menu-overlay"></div>
